{% block login %}
<div id="wrap">
    <div id="regbar">
        <div id="navthing">
            <div class="loginform"><a href="#" id="loginform">Войти</a> | <a href="#">Зарегистрироваться</a></div>
            <div class="login">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="email">Почта</label>
                            <input type="email" value="example@example.com"/>
                            <label name="password">Пароль</label>
                            <input type="password"/>
                            <input type="submit" value="Войти"/>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock login %}

